# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Virtualenv
venv/
.venv/
env/

# Variables locales
.env
.env.*
local_settings.py

# PythonAnywhere / local
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db